<main class="main">
    <section>
        <form method="POST" action="/prodact-info?id={{id}}">
            {{> heading title = "Мої замовлення"}}
            <div class="prodact_list">
                {{#each list}}
                {{> prodact-card}}
                {{/each}}
            </div>
        </form>
    </section>
</main>