{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">

  <form method="POST" action="product-edit" class="main">
    <h2 class=" title text-primary text-start">Редагування товару</h2>

    <div class="card">
      <div class="card-body">
        <h3 class="title_edit">Інформація про товар</h3>
        <div class="form">
          <div class="card_content">
            <label for="name" class="form_label">Назва товару</label>
            <input type="text" name="name" class="form_input">
          </div>
          <div class="card_content">
            <label for="price" class="form_label">Ціна</label>
            <input type="text" name="price" class="form_input">
          </div>
          <div class="card_content">
            <label for="id" class="form_label">ID</label>
            <input type="id" name="id" class="form_input">
          </div>

        </div>
        <div class="content">
          <label for="description" class="form_label">Короткий опис товару</label>
          <input type="text" name="description" class="form_control"
            placeholder="Ця футболка виготовленна з високоякісного бавовняного матеріалу, має комфортний крій і дихаючу тканину. Логотип NIKE Air Max додає особливого стилю та відмінно підходить для повсякденного носіння.">
          <div class="form-text">Відображується у картці товару</div>
        </div>
        <div class="button">
          <div class="button_1">
            <button class="btn btn-primary">Зберегти оновлення</button>
          </div>
          <div class="button_1">
            <a href="/product-delete" class="btn btn-danger">Видалити товар</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</main>




{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}