<main class="main_info">
    <div class="card">
        {{> heading title = "Інформація про замовлення"}}
        <div class="form_info">
            {{> purchase-info label="ID:"}}
            {{> purchase-info label="Імя"}}
            {{> purchase-info label="Прізвище"}}
            {{> purchase-info label="Телефон"}}
            {{> purchase-info label="Електрона пошта"}}
            {{> purchase-info label="Назва товару"}}
            {{> purchase-info label="Коментар"}}
            {{> purchase-info label="Вартість товару"}}
            {{> purchase-info label="Вартість доставки"}}
            {{> purchase-info label="Сума до сплати"}}
            {{> purchase-info label="Нараховані бонуси"}}
            <button class="btn btn-primary">Змінити дані</button>
        </div>
    </div>
</main>