{{#with data=this}}

<main class="main_list">
    {{> heading title = "Мої замовлення"}}

    <div method="POST" action="/purchase-info?id={{id}}">
        {{#each data.prodact}}
        {{> purchase-card id="ID: 14587" name="Товари" product="Футбольний мяч" price="Сума замовлення"
        suma="1260.75грн" bonus="Нараховані бонуси" sumabonus="12.60 грн"}}
        <hr>
        {{/each}}
    </div>

</main>
{{/with}}