<main class="main">
    <section>

        {{> heading title = "Мої замовлення"}}

        {{> purchase-heading product="Товари" suma="Загальна вартість" bonus="Нараховані бонуси"}}
        <div class="prodact_list">
            {{#with data}}
            {{#if isEmpty}}
            <mark>пустий</mark>
            {{else}}
            <ul>
                {{#each list}}
                {{> prodact-card}}
                {{/each}}
            </ul>
            {{/if}}
            {{/with}}
        </div>

    </section>
</main>