{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
  <main>


    <section>
      <div class="form">
        <h1 class="form_title">Список створених товарів</h1>
        <div class="product-list">
          {{#with data}}
          {{#if isEmpty}}
          <mark>пустий</mark>
          {{else}}
          <ul>
            {{#each list}}
            {{> product-card}}
            {{/each}}
          </ul>
          {{/if}}
          {{/with}}
        </div>
        <a class="btn btn-primary" href="/product-create"> Додати продукт</a>
      </div>
    </section>

  </main>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}