{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<main class="main">
  <section>
    {{> heading title = "Інформація про товар"}}
    {{#with data.purchase}}
    <div class="product_purchase">
      <form method="POST" action="/purchase-create?id={{id}}">
        <div class="product_info">
          {{> product-info data=this}}

        </div>
      </form>

    </div>
    {{/with}}

  </section>
</main>







{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}