<main class="main_edit">
    <div class="card">
        <form method="POST" action="/purchase-edit">
            {{> heading title = "Змінна даних"}}


            <div class="main_edit">
                {{#with data.purchase}}
                <label for="name" class="form_label">Прізвище</label>
                <input type="text" value={{firstname}}>


                <label for="name" class="form_label">Iмя</label>
                <input type="text" value={{lastname}}>


                <label for="name" class="form_label">Емаіл</label>
                <input type="text" value={{email}}>

                <label for="name" class="form_label">Телефон</label>
                <input type="text" value={{phone}}>
                {{/with}}
            </div>

            <button class="btn btn-primary">Зберегти зміни</button>
        </form>
    </div>
</main>