@use '../../lib/service.scss' as s;

.main_edit {
    display: flex;
    flex-direction: column;
    padding: s.space(40);
    width: 60%;
}
.card {
    padding: 40px;
    display: flex;
}
.form_input {
    border: 1px solid s.color("light");
    border-radius: 5px;
    padding: 7px;
}
.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
   padding: 20px;
}
.btn {
    width: 100%;
}