{{#with data}}
<div class="prodact-list">

    <span class="prodact_id">{{id}}</span>

    <h3 class="prodact_title">{{name}}</h3>
    <div class="price">{{price}}</div>
    <div class="bonus">{{bonus}}</div>
</div>
{{/with}}