{{#with data}}
<div class="card">
    <div class="card-body">
        <img src="/img/Artline.svg" alt="Товар 1" class="image">
        <h2 class="product-card_title">Комп'ютер Artline Gaming (X43v31) AMD Ryzen 5 3600/</h2>
        <p class="product-card_description">AMD Ryzen 5 3600 (3.6 - 4.2 ГГц) / RAM 16 ГБ / HDD 1 ТБ + SSD 480 ГБ /
            nVidia GeForce
            RTX 3050, 8 ГБ / без ОД / LAN / без ОС</p>
        <div class="button">
            <button class="btn btn-outline-success">Готовий до відправки</button>
            <button class="btn btn-outline-primary btn_1">Топ продажів</button>
            <a href="/purchase-product?id={{id}}" class="btn btn-primary btn_2">Купити зараз: 27000грн</a>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <img src="/img/cobra.svg" alt="Товар 2" class="image">
        <h2 class="product-card_title">Комп'ютер COBRA Advanced (I11F.8.H1S2.15T.13356) Intel</h2>
        <p class="product-card_description">Intel Core i3-10100F (3.6 - 4.3 ГГц) / RAM 8 ГБ / HDD 1 ТБ + SSD 240 ГБ /
            GeForce GTX
            1050 Ti, 4 ГБ / без ОД / LAN / Linux</p>
        <div class="button">
            <button class="btn btn-outline-success">Готовий до відправки</button>
            <button class="btn btn-outline-primary btn_1">Топ продажів</button>
            <a href="/purchase-product?id={{id}}" class="btn btn-primary btn_2">Купити зараз: 17000грн</a>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <img src="/img/gaming.svg" alt="Товар 3" class="image">
        <h2 class="product-card_title">Комп'ютер ARTLINE Gaming by ASUS TUF v119 (TUFv119)</h2>
        <p class="product-card_description">Intel Core i9-13900KF (3.0 - 5.8 ГГц) / RAM 64 ГБ / SSD 2 ТБ (2 x 1 ТБ) /
            nVidia
            GeForce RTX 4070 Ti, 12 ГБ / без ОД / LAN / Wi-Fi / Bluetooth / без ОС
        </p>
        <div class="button">
            <button class="btn btn-outline-success">Готовий до відправки</button>
            <button class="btn btn-outline-primary btn_1">Топ продажів</button>
            <a href="/purchase-product?id={{id}}" class="btn btn-primary btn_2">Купити зараз: 113109грн</a>
        </div>
    </div>
</div>
{{/with}}