@use '../../lib/service.scss' as s;


.field {
    display: flex;
    flex-direction: column;
    gap: s.space(1);
    width: 100%;
}
.field_input {
    border: 1px solid s.color('light');
    border-radius: 10px;
   padding: s.space(2);
}
.field--disabled {
    position: absolute;
    display: none;
}