<div class="card">
    <div class="card-body">
        <strong class="card-title">Cтильна сукня</strong>
        <p class="description">Елегантна сукня з натуральної тканини для особливих випадків</p>
        <p class="id">ID:1357924680</p>
        <div class="Price">
            <strong>1500$</strong>
            <button class="btn link-primary text-end">Редагувати</button>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <strong class="card-title">Спортивні кросівки</strong>
        <p class="description">Зручні та стильні кросівки для активного способу життя</p>
        <p>ID:9876543210</p>
        <div class="Price">
            <strong>1200$</strong>
            <button class="btn link-primary text-end">Редагувати</button>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <strong class="card-title">Cонячні окуляри</strong>
        <p class="description">Модні окуляри з високоякісними лінзами для захисту очей від сонця</p>
        <p>ID:2468135790</p>
        <div class="Price">
            <strong>800$</strong>
            <button class="btn link-primary text-end">Редагувати</button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <strong class="card-title">Чоловічий годинник</strong>
        <p class="description">Елегантний годинник з механічним механізмом і сталевим браслетом</p>
        <p>ID:1357924680</p>
        <div class="Price">
            <strong>2500$</strong>
            <button class="btn link-primary text-end">Редагувати</button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <strong class="card-title">Фітнес-браслет</strong>
        <p class="description">Браслет для відстеження активності та здоровя</p>
        <p>ID:1584079263</p>
        <div class="Price">
            <strong>700$</strong>
            <button class="btn link-primary text-end">Редагувати</button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <strong class="card-title">Жіночий рюкзак</strong>
        <p class="description">Стильний рюкзак з великим відділенням та кишенями</p>
        <p>ID:3192850467</p>
        <div class="Price">
            <strong>900$</strong>
            <button class="btn link-primary text-end">Редагувати</button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <strong class="card-title">Парасолька</strong>
        <p class="description">Компактна парасолька в автоматичним механізмом</p>
        <p>ID:6749258130</p>
        <div class="Price">
            <strong>350$</strong>
            <button class="btn link-primary text-end">Редагувати</button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <strong class="card-title">Cтолові прибори</strong>
        <p class="description">Набір столових приборів зі сталі виготовленні в класичному стилі</p>
        <p>ID:5036214789</p>
        <div class="Price">
            <strong>600$</strong>
            <button class="btn link-primary text-end">Редагувати</button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <strong class="card-title">Шкіряний гаманець</strong>
        <p class="description">Елегантний гаманець з натуральної шкіри з багатьма відділеннями</p>
        <p>ID:7261943580</p>
        <div class="price">
            <strong>400$</strong>
            <button class="btn link-primary text-end">Редагувати</button>
        </div>
    </div>
</div>